
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #24252a;
  color: rgb(0, 191, 255);
  
}

.App-component{
  border:1px solid white ;
  padding:10px ;
}
.App-header {
  padding:15px ;
}
.header-component{
  border: 1px solid white;
  padding:10px ;

}
.navbar-component{
  border: 1px solid white;
  padding:10px ;

}

