*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24252a;
  line-height:3;
  color: white;
}


                  /* React Syles */
                
.style-main-container{
  border:1px solid white;
  height:40vh; 
} 
/* Title */
.style-main-container > h1{
  text-align: center;
  color: yellow;
  
}


                  /* React Click Event*/
.react-clickevent-container{
  border:1px solid white;
  height: 40vh;
}

.react-clickevent-container > h1{
  text-align: center;
  color: yellow; 
  
}
/* Button */
.react-clickevent-container > button{
  margin:0 0 0 10px;
  font-size:20px;
  padding: 10px;
  font-weight: bold;
}


                  /* React Click Event*/
.react-clickevent-container{
  border:1px solid white;
  height: 40vh;
}

.react-clickevent-container > h1{
  text-align: center;
  color: yellow; 
  
}
/* Button */
.react-clickevent-container > button{
  margin:0 0 0 10px;
  font-size:20px;
  padding: 10px;
  font-weight: bold;
}


                  /* React userState Hook */
.react-userstate-container{
  border:1px solid white;
  height: 40vh;
}
/* Title */
.react-userstate-container > h1{
  text-align: center;
  color: yellow; 
  
}

